.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  max-width: 100vw;
  overflow: hidden;
  gap: 2rem;
  margin-top: 1rem;
  user-select: none;
  h1 {
    color: #a6d6d8;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    color: #a6d6d8;
    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10rem;
      gap: 1rem;
      margin-top: 0.25rem;
      font-weight: bold;
      color: white;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        color: #a6d6d8;
        cursor: pointer;
        font-size: 150%;
        filter: drop-shadow(1px 1px 1px black);
        &:hover {
          filter: drop-shadow(-1px -1px 1px black);
        }
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 4rem;
}

.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px black);
  &:hover {
    filter: drop-shadow(-5px -5px 5px black);
    font-size: 130%;
  }
}

.gameOver {
  color: #7d0641;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.snake,
.point {
  position: absolute;
  border-radius: 50%;
  background-color: #faca3c;
  filter: drop-shadow(1px 1px 1px black);
  &:hover {
    filter: drop-shadow(-1px -1px 1px black);
  }
}

.point {
  border-radius: 5px;
  background-color: #7d0641;
}
